div#footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: -webkit-fill-available;
    color: var(--tg-theme-button-text-color);
    z-index: 20;
    background: #181818;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 10px;
}

#footer>.flex {
    line-height: 30px;
    display: flex;
    justify-content: space-evenly;
}

[data-hidden="hidden"]{
    display: none;
}

.b {
    background-color: #708090; /* Серый цвет */
    box-shadow: 0 0 12px rgba(112, 128, 144, 0.6); /* Увеличенное свечение */
    margin-bottom: 10px;
    line-height: 30px;
    padding: 5px 5px;
    box-sizing: content-box;
    border-radius: 4px;
}

.b.active{
    background-color: #1e90ff; /* Ярко-синий цвет */
    box-shadow: 0 0 12px rgba(30, 144, 255, 0.6); /* Увеличенное свечение */
}

img#tap {
    width: 70%;
    border-radius: 50%;
    background: black;
    background-blend-mode: hard-light;
    mix-blend-mode: lighten;
    margin: auto;
    display: block;
}

.flyer{
    position: absolute;
    left: 50%;
    z-index: 500;
    animation: up 1s;
    font-weight: 800;
}

@keyframes up {
    0%{
        bottom: 50%;
        filter: opacity(0);
    }
    50%{
        filter: opacity(.7);
    }
    100%{
        bottom: 70%;
        filter: opacity(0)
    }
}

.ref {
    background: var(--tg-theme-secondary-bg-color);
    padding: 20px;
    border-radius: 20px;
}

.ref>h2 {
    font-size: larger;
}

.actions>div {
    background: var(--tg-theme-secondary-bg-color);
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid var(--tg-theme-link-color);
}

.name {
    padding-top: 0px !important;
    margin-top: 0;
}

[disabled] {
    cursor: auto;
    filter: grayscale(0.8);
}

table#footer {
    position: fixed;
    bottom: 10px;
    z-index: 200;
    width: calc(100% - 40px);
    text-align: center;
    line-height: 40px;
    background: #1f1f1f;
    box-sizing: border-box;
    border-radius: 20px;
    /* border: 1px solid; */
    border-collapse: collapse;
    overflow: hidden;
}

td {
    background: #222222;
    width: 100%;
    align-items: center;
    width: 50%;
    transition: .5s;
}

[data-chosen] {
    background: #272727;
}

.popup.coverScreen {
    animation: none;
    filter: opacity(1);
    z-index: 1000;
    transition: .5s;
}

.popup.coverScreen>img {
    margin-top: 150px !important;
    
}

.transparent{
    filter: opacity(0) !important;
}
